
  body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;  
    height: 100vh;
    
  }
  
  .login-container {
    display: flex;
    height: 100%;
    width: 500px;
    justify-content: center;
    align-items: center;
  }
  
  .login-card {
    background-color: white;
    padding: 30px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .footer-text {
    font-size: 14px;
    color: #777;
    text-align: center;
  }
  
  .footer-text a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .footer-text a:hover {
    text-decoration: underline;
  }
  
  button:focus {
    outline: none !important;
  }
  